<div class="container">
  <div class='register-container'>
    <div *ngIf='!this.isLogin'>
      <h2 class='logo'>XSchools</h2>
      <h4 class='title'>Create new account</h4>
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <input type="text" name="username" placeholder="Username" ngModel>
        <input type="email" name="email" placeholder="Email" ngModel>
        <input type="password" name="password" placeholder="Password" ngModel>
        <input type="submit" value="Register">
        <div class='login_btn'>
          <a routerLink="/login" routerLinkActive="active">Log in</a>
        </div>
      </form>
    </div>
    <div *ngIf='this.isLogin'>
      <h5>You are logged in</h5>
    </div>
  </div>
</div>

