<div class="container">
  <div class='register-container'>
    <div>
      <h2 class='logo'>XSchools</h2>
      <h4 class='title'>Create new account</h4>
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <input type="text" name="name" placeholder="Username" ngModel>
        <input type="email" name="email" placeholder="Email" ngModel>
        <input type="tel" name="cellphone" placeholder="Phone" ngModel>
        <input type="submit" value="Create account">
        <div class='login_btn'>
          <a routerLink="/login" routerLinkActive="active">Log in</a>
        </div>
      </form>
      <div *ngIf='this.errorMessage' class='error-warning'>
        <p>{{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>

