<div class="container">
  <div class="login-container">
    <div *ngIf='!this.isLogin'>
      <h2 class='logo'>XSchools</h2>
      <h4 class="title">Login</h4>
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <input type="text" name="username" placeholder="Username" ngModel>
        <input type="password" name="password" placeholder="Password" ngModel>
        <input type="submit" value="Login">
        <div class="register_btn">
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </div>
      </form>
    </div>
    <div *ngIf='this.isLogin'>
      <h1>You are logged in</h1>
      <button (click)='logout()'>Logout</button>
    </div>
  </div>
</div>
